*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Numans", serif;
    background-color: #fffaf3;
}
.navbar{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px gainsboro;
}
.logo{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.logo img{
    width: 170px;
    height: 90px;
}
.navlists{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 30px;
}
.navlists ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
}

.navlists ul li{
    font-weight: normal;
    list-style: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.navlists ul li i{
    margin-left: 5px;
    font-size: 10px;
    color: #999692;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    padding-top: 10px;
    font-weight: bold;
    padding-top: 18px;
}
.navicons{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
}
.navicons img{
    width: 20px;
    height: 20px;   
}
.belownavbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.belownavbarinner{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    pad: 20px;
}
.belowleft{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 30px;
    margin-left: 20px;
}
.belowleft h1{
    margin-top: 20px;
    font-size: 60px;    
    text-shadow: 2px 0;
    letter-spacing:2px;
    font-weight:bolder;
}
.belowleft h5{
    margin-top: 10px;

}
.belowleft h2{
    font-size: 30px;    
    text-shadow: 2px 0;
    letter-spacing:2px;
    font-weight:bolder; 
}
.buttons{
    display: flex;
    gap: 20px;
}
.buttons button{
    margin-top: 40px;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}
.buttons span button{
    background-color: black;
    color: white;
}
.buttons button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}
.buttons span button:hover{
    background-color: white;
    color: black;
}
.bottomleftimg{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 10px;
    position: relative;
}
.bottomleftimg i{
    position: absolute;
    top: 50px;
    right: 175px;
}
.bottomleftcnt{
    width: 250px;
    height: 70px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.belowright{
    width: 50%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.belowright span img{
    margin-top: 30px;
    width: 475px;
    height: 650px;
    border-radius: 40px;
}
.key{
    position: absolute;
    top: 20px;
    right: 15px;
    animation: key 100000s infinite;
}
.sidepart{
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/mainpagelady2.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.sidepart h1{
    position: absolute;
    right: -32px;
    font-family: "Outfit", serif;
    font-weight: 900;
    font-size: 90px;    
    letter-spacing:2px;
    transform: rotate(-90deg);
    color: white;
    -webkit-text-stroke: 1.5px #000;
}
.round{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    bottom: 120px;
    right: 15px;
    padding: 10px;
    background-color: white;
}
.roundinner{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.roundinner i{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.round:hover .roundinner i{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: white;
    color: black;
    transition: 1s;
}
@keyframes key{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(5000000deg);}
}
#curve{
    fill: transparent;
}
.text{
    fill: black;
    transform-origin: 50% 50%;
    z-index: -1;
    /* animation: rotate 15s linear infinite; */
}
.play{
    color: #444444;
}
.leftkeyframe{
    position: relative;
}
.leftkeyframe i{
    position: absolute;
    left: 70px;
    top: 120px;
    z-index: 1;
}
.leftkeyframe textPath{
    letter-spacing: 3px;
}
/* @keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
} */
 .showcase{
    width: 100%;
    height: 50%;
    background-color: #feeb9d;
    display: flex;
    position: relative;
 }
 .beige{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
 }
 .cartouter{
    width: 200px;
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .cart1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
 }
 .cart1 img{
    width: 100%;
    height: 75%;
    object-fit: contain;
 }
 .cart1 button{
    width: 100px;
    height: 40px;
    border-radius: 30px; 
 }
 .cart1 button p{
    font-weight: bolder;
    font-family: "Outfit", serif;
 }
 .cart1 button:hover {
    color: #df5e5e;
    transition: 0.3s;
 }
 .black{
    width: 30%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }
 .blackinner{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 30px;
 }
 .arrows{
    display: flex;
    gap: 30px;
 }
 .blackinner img{
    width: 40px;
    height: 50px;
    gap: 20px;
 }
 .black span img{
    position: absolute;
    width: 50px;
    height: 60px;
    left: -20px;
    bottom: 40%;
 }
 .wave{
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 250px;
    left: 60px;
 }
.wardrobe{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffaf3;
}
.wardrobeinner{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wardrobeleft{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}   
.wardrobeleft span img{
    width: 100%;
    height: 90%;
}

.wardrobeleft button{
    position: absolute;
    bottom: 90px;
    left: 90px;
    width: 250px;
    height: 60px;
    font-family: "Outfit", serif;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
}
.wardrobewave{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wardrobewave .img1{
    height: 65px;
    position: absolute;
    transform: rotate(-90deg);
    right: 10px;
 }
  .img2{
    height: 65px;
    position: absolute;
    transform: rotate(90deg);
    left: 8px;
 }
.wardroberight{
    width: 50%;
    height: 90%;
    position: relative;
}
.content{
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
}
.contentinner{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.contentinner p{
    color: #836a51;
    line-height: 25px;
}
.arrow{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white; 
    border-radius: 100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: 40px;
}
.arrow i{
    transform: rotate(-45deg);
}
.arrow:hover{
    background-color: #df5e5e;
    transition: 0.5s;
}
.belowcontent{
    width: 100%;
    height: 50%;
    position: relative;
}
.belowcontent button{
    position: absolute;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    font-family: "Outfit", serif;
    font-size: large;
    bottom: 20px;
    left: 35px;
}
.child{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}
.childinner{
    width: 100%;
    height: 95%;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.childinner img{
    width: 95%;
    height: 100%;
    border-radius: 20%;
}
.childinner button{
    width: 150px;
    height: 40px;
    font-family: "Outfit", serif;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    position: absolute;
    left: 35px;
    bottom: 20px;
}
.child span img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: -20px;
    top: -20px;
    animation: key 100000s infinite;
}
.child span p{
    width: 20px;
    height: 20px;
    font-family: "Outfit", serif;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}
.childinner:hover img{
    transform: scale(1.1);
    transition: 0.4s;
}
.wardrobe button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.slide{
    width: 100%;
    height: 30%;
    font-size: 60px;
    font-weight:lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.slide marquee{
    width: 100%;
    height: 50%;
    transform: rotate(-2deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px black ;
    border-bottom: 1px solid black;
}
.slide ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    word-spacing: 5px;
}
.slide ul li{
    list-style: none;
    display: flex;
    gap: 50px;
}
.slide li i{
    color: lightgray;
}
.slide ul:hover{
    motion: none;
}
.products{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productsinner{
    width:85%;
    height: 100%;
}
.productshead{
    width: 100%;
    height:10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productshead h1{
    font-size: 35px;
    font-weight: 900;
}
.productshead ul{
    width: 40%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 30px;
    border: solid 1px black;
}
.productshead ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.productshead span li{
    width: 60px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.product1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,4fr);
    grid-gap: 20px;
}
.productouter{
    width: 100%;
    height: 100%;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.productouter p{
    position: absolute;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bolder;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    left: 30px;
}

.producticons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.pheart{
    position: absolute;
    right: 20px;
    bottom: 300px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.226);
    color: white;
    border-radius: 100%;
}
.pcomment{
    position: absolute;
    right: 20px;
    bottom: 250px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.226);
    color: white;
    border-radius: 100%;
}
.productdetails{
    width: 100%;
    height: 20%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
}
.productdetails h3{
    width: 50%;
    height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.productdetails h4{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.op{
    width: 100%;
    height: 82%;
    position: relative;
    overflow: hidden;
}
.op img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;   
    transition: 0.5s; 
}
.productouter:hover .op img{
    height: 95%;
}
.op button{
    position: absolute;
    bottom: -40px;
    right: 78px;
    width: 150px;
    height: 40px;
    font-weight: 900;
    background-color: black;
    color: white;
    border-radius: 20px;
    overflow: hidden;
}
.productouter:hover .op button{
    bottom:5px;
    right: 78px;
    transition: 0.5s;
}
.op button:hover{
    background-color: rgb(244, 45, 45);
    color: white;
}
.banner{
    margin-top: 50px;
    width: 100%;
    height: 68%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerleft{
    width: 50%;
    height: 100%;
    background-color: green;
    position: relative;
}
.bannerleft img{
    width: 100%;
    height: 100%;
}
.leftdetails{
    background-image: url(../images/circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 325px;
    height: 325px;
    right: 50px;
    top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}
.leftdetails h4{
    font-size: small;
    font-weight: bolder;
}
.leftdetails h3{
    font-size: 45px;
    font-size: xx-large;
    letter-spacing: 8px;
    font-weight: bolder;
}
.leftdetails h1{
    font-size: 90px;
    font-weight: bolder;
}
.leftdetails button{
    width: 165px;
    height: 55px;
    border-radius: 20px;
    font-family: "Numans", serif; 
    background-color: white;
    color: black;
    font-weight: bolder;
}
.leftdetails button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.bannerright{
    width: 50%;
    height: 100%;
    background-color: brown;
    position: relative;
}
.bannerright img{
    width: 100%;
    height: 100%;
}
.rightdetails{
    position: absolute;
    bottom: 125px;
    left: 40px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}
.rightdetails h4{
    font-size: small;
    font-weight: bolder;
}
.rightdetails h1{
    font-weight: bolder;
}
.rightdetails button{
    width: 165px;
    height: 55px;
    border-radius: 20px;
    font-family: "Numans", serif; 
    background-color: black;
    color: white;
    font-weight: bolder;
}
.rightdetails button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.minimenu{
    width: 100%;
    height: 100%;
    background-color: #fffaf3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.minimenuinner{
    width: 90%;
    height: 90%;
    display: flex;
}
.leftmenu{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftinner{
    width: 80%;
    height: 80%;
    border-radius: 50% 50% 0 0;
    display: flex;
    border: 1px solid black;
    transition: 0.7s;
    position: relative;

}
.leftinner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50% 50% 0 0;
    transition: 0.7s;
    position: absolute;
    top: 0;
    left: 0;
}

.leftinner:hover{
    transform: translate(-10px,10px);

}
.leftinner img:hover{
    top: -20px;
    left: 20px;
}
.rightmenu{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.rightmenutop{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rightmenutop p{
    width: 60%;
    height: 100%;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bolder;
}
.rightmenutop img{
    padding-right: 40px;
}
.menu{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.menucard{
    width: 250px;
    height: 300px;
    overflow: hidden;
}
.menucardimage{
    width: 100%;
    height: 80%;
    border-radius: 30px;
    overflow: hidden;
}
.menucardimage img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.menucarddetails{
    width: 100%;
    height: 20%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    font-weight: bolder;
}
.menucarddetailsleft{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.menucarddetailsleft span p{
    color: #da4e6c;
}
.menucard:hover img{
    transform: scale(1.2);
    transition: 0.4s;
}
.greatsavings{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gsinner{
    width: 95%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.gsleft{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.gscart1{
    width: 310px;
    height: 330px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.gscart1 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;   
}
.gscartdetails{
    position: absolute;
    bottom: 20px;
    right: 32px;
    width: 80%;
    height: 20%;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    font-weight: bolder;
}
.gscartdetailsleft{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.gscartdetailsleft span p{
    color: #da4e6c;
}
.gscartdetailsleft p:hover{
    color: #da4e6c;
    transition: 0.5s;
}
.gscart1 img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.gsleft span img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 51%;
    top: -20px;
    animation: key 100000s infinite;
}
.off{
    width: 20px;
    height: 20px;
    font-family: "Outfit", serif;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 54%;
}
.gsright{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.rightinner{
    width: 100%;
    height: 100%;
    mask-image: url(../images/bg-media.svg);
    display: flex;
    align-items: center;
    justify-content: center; 
}
.rightcontent{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    color: white;
    gap: 25px;
}
.rightcontent h1{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}
.rightcontent button{
    width: 130px;
    height: 60px;
    border-radius: 10px;
    border: none;
}
.rightbottom{
    font-size: 55px;
    font-weight: bolder;
    color: wheat;
    opacity: 60%;
}
.destination{
    width: 100%;
    height: 100%;
    background-color: #fffaf3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.destinationleft{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.destinationleft iframe{
    width: 100%;
    height: 90%;
}
.destinationright{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}
.righttitle{
    width: 370px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: left;
}
.righttitle h1{
    font-weight: bolder;
}
.righttitle h3{
    font-weight: lighter;
}
.slider{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scart1{
    width: 210px;
    height: 230px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.scart1 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;   
}
.scartdetails{
    position: absolute;
    bottom: 20px;
    right: 32px;
    width: 80%;
    height: 20%;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    font-weight: bolder;
}
.scartdetailsleft{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.scartdetailsright{
    font-size: 10px;
}
.scartdetailsleft span p{
    color: #3aab84;
}
.scartdetailsleft p:hover{
    color: #da4e6c;
    transition: 0.5s;
}
.scart1 img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.blockbuster{
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blockbusterinner{
    width: 90%;
    height: 90%;
}
.blockbusterheading{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.blockbusterheading h2{
    font-size: 35px;
    font-weight: bolder;
}
.blockbusterheading h5{
    font-weight: lighter;
}
.blockbustercontent{
    width: 100%;
    height: 85%;
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.contentcart{
    width: 275px;
    height: 325px;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.contentcartinner{
    width: 100%;
    height: 75%;
    padding: 10px;
    position: relative;
}
.contentcartinner img{
    width: 90%;
    height: 100%;
    position: absolute;
    top: -35px;
}
.contentcarddetails{
    width: 100%;
    height: 30%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    font-weight: bolder;
    font-size: 15px;
}
.contentcarddetailsleft{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.contentcarddetailsleft span p{
    color: #da4e6c;
}
.contentcart:hover .contentcartinner img{
    top: -75px;
    transition: 1s;
}
.contentcarddetailsleft p:hover{
    color: #df5e5e;
    transition: 0.5s;
}
.offers{
    width: 100%;
    height: 90%;
    background-color: #fffaf3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offersinner{
    width: 100%;
    height: 90%;
}
.offersheading{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.offersheading h2{
    font-size: 35px;
    font-weight: bolder;
}
.offersheading h5{
    font-weight: lighter;
}
.offersimgcart{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.offersimg{
    width: 100%;
    height: 85%;
    position: relative;
}
.offersimginner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.offersimginner img{
    width: 98%;
    height: 85%;
    border-radius: 40px;
}
.offersdetails{
    position:absolute ;
    top: 200px;
    left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.offersdetails h4{
    position: absolute;
    top: -100px;
    left: -12px;
    width: 100px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offersdetails h1{
    position: absolute;
    top: -40px;
    left: -12px;
    width: 200px;
    height: 50px;
    font-size: 50px;
    font-weight: bolder;
}
.offersdetails button{
    position: absolute;
    top: 100px;
    left: -12px;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    background-color: #e0dcd7;
    font-family: "Numans", serif;
    font-weight: 900;
}
.offersdetails button:hover{
    background-color: #000;
    color: #ffffff;
    transition: 0.5s;
}